<?xml version="1.0"?>

<launch>
  <arg name="ns" default="jackal" />
  <arg name="x" default="0" />
  <arg name="y" default="0" />
  <arg name="z" default="1" />
  <arg name="yaw" default="0" />
  <arg name="joystick" default="true" />

  <!-- Configuration of Jackal which you would like to simulate.
       See jackal_description for details. -->
  <arg name="config" default="base" />

  <!-- Load Jackal's description, controllers, and teleop nodes. -->
  <include file="$(find jackal_description)/launch/description.launch">
    <arg name="ns" value="$(arg ns)" />
    <arg name="config" value="$(arg config)" />
  </include>
  <include file="$(find jackal_control)/launch/control.launch">
    <arg name="ns" value="$(arg ns)" />
  </include>
  <include file="$(find jackal_control)/launch/teleop.launch">
    <arg name="ns" value="$(arg ns)" />
    <arg name="joystick" value="$(arg joystick)" />
  </include>

 <node pkg="tf" type="static_transform_publisher" name="static_map_odom_tf"
        args="$(arg x) $(arg y) $(arg z) 0 0 0 map $(arg ns)/odom 100"/>

  <!-- Run the map server -->
 <arg name="map_file" default="$(find jackal_navigation)/maps/empty.yaml"/>
 <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

  <!-- Spawn Jackal -->
  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model"
	      args="-urdf -model $(arg ns) -param robot_description -x $(arg x) -y $(arg y) -z $(arg z) -R 0 -P 0 -Y $(arg yaw)"
        respawn="false" output="screen" />

  <include file="$(find jackal_navigation)/launch/include/amcl.launch">
    <!-- <arg name="use_map_topic" value="true" /> -->
    <arg name="scan_topic" value="/front/scan" />
    <param name="initial_pose_x" value="$(arg x)" />
    <param name="initial_pose_y" value="$(arg y)" />
    <param name="initial_pose_a" value="$(arg z)" />
  </include>

  <include file="$(find jackal_navigation)/launch/include/move_base.launch">
  </include>

  <node name = "tf2_broadcaster" pkg = "jackal_gazebo" type = "jackal_broadcaster.py" respawn ="false" output ="screen" >
    <param name = "jackalname" type = "string" value ="$(arg ns)"/>
  </node>
</launch>
